/* styles.css */

form {
    margin-left: 70px;
    width: 50%;
}

#pdf {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

#upload {
    font-size: 10px;
    font-weight: bold;
}

.pdf-container {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 30px;
}

.pdf-embed {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.show-pdf-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 90px;
    height: 30px;
}
